---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={"Privacy Policy"}>
  <Hero title="Privacy Policy" />
  <div class="lg:py-[80px] md:py-[64px] bg-[rgb(24,_26,_32)] py-[40px]">
    <!--  -->
    <div class="container-fluid">
      <!-- Heading -->
      <div class="lg:mb-[40px] md:mb-[32px] mb-[16px]">
        <h1
          class="lg:font-semibold lg:text-[40px] lg:leading-[48px] md:font-semibold md:text-[32px] md:leading-[40px] font-semibold text-[24px] leading-[32px] text-[rgb(234,_236,_239)]"
        >
          Privacy policy
        </h1>
      </div>
      <br />
      <p class="m-0 text-base text-text-primary">Last update: June 06, 2018</p>
      <br />
      <p class="m-0 text-base text-text-primary">
        ForexPrime Trading (“we”, “us”, “our”) is committed to protecting and
        respecting your privacy, and to meeting its data protection obligations
        under the General Data Protection Regulation (“GDPR”) and the Data
        Protection Act 2018.
      </p>
      <br />
      <p class="m-0 text-base text-text-primary">
        This Privacy Statement is intended to describe our privacy practices and
        provide information about how and why we collect, use and share your
        personal information when you visit our website and any of its
        sub-domains (“our sites”); and/or purchase or otherwise use our
        solutions, products and services (“Services”)
      </p>
      <br />
      <p class="m-0 text-base text-text-primary">
        This Privacy Statement governs our data collection, processing and usage
        practices. It also describes your choices regarding use, access and
        correction of your personal information.
      </p>
      <br />
      <p class="m-0 text-base text-text-primary">
        We periodically update this Privacy Statement with any changes
        applicable and, in case the changes are significant, we will provide a
        more prominent notice by sending you an email notification. While we
        will notify you of any material changes to this Privacy Statement, we
        encourage you to review this Privacy Statement periodically. We also
        archive all historical versions of this Privacy Statement.
      </p>
    </div>
    <br />
    <!--  -->
    <div class="container-fluid">
      <!-- Heading -->
      <div class="lg:mb-[40px] md:mb-[32px] mb-[16px]">
        <h1
          class="lg:font-semibold lg:text-[40px] lg:leading-[48px] md:font-semibold md:text-[32px] md:leading-[40px] font-semibold text-[24px] leading-[32px] text-[rgb(234,_236,_239)]"
        >
          Data protection principles
        </h1>
      </div>
      <br />
      <p class="m-0 text-base text-text-primary">
        Under the GDPR, there are six data protection principles that ForexPrime
        Trading must comply with. These provide that the personal information we
        hold about you must be:
      </p>
      <br />
      <!-- <p class="m-0 text-base text-text-primary">Last update: June 06, 2018</p> -->
      <ul
        class="text-base text-text-primary container-fluid"
        style="list-style: disc;"
      >
        <li>processed lawfully, fairly and in a transparent manner;</li>
        <li>
          collected only for legitimate purposes that have been clearly
          explained to you and not further processed in a way that is
          incompatible with those purposes;
        </li>
        <li>
          adequate, relevant and limited to what is necessary in relation to
          those purposes;
        </li>
        <li>accurate and, where necessary, kept up to date;</li>
        <li>
          kept in a form which permits your identification for no longer than is
          necessary for those purposes;
        </li>
        <li>
          processed in a way that ensures appropriate security of the data.
        </li>
        <li>
          ForexPrime Trading is responsible for, and must be able to demonstrate
          compliance with, these principles. This is called accountability.
        </li>
      </ul>
      <br />
    </div>
    <br />
    <!--  -->
    <div class="container-fluid">
      <!-- Heading -->
      <div class="lg:mb-[40px] md:mb-[32px] mb-[16px]">
        <h1
          class="lg:font-semibold lg:text-[40px] lg:leading-[48px] md:font-semibold md:text-[32px] md:leading-[40px] font-semibold text-[24px] leading-[32px] text-[rgb(234,_236,_239)]"
        >
          Data we collect
        </h1>
      </div>
      <br />
      <p class="m-0 text-base text-text-primary">
        This Privacy Statement applies to all personal information which you
        give to us and / or which we collect automatically from you, either via
        our sites and / or our Services and / or which we receive about you from
        third parties.
      </p>
      <br />
      <ul
        class="text-base text-text-primary container-fluid"
        style="list-style: disc;"
      >
        <li>
          Personal data, or personal information, means any information about an
          individual from which that person can be identified. It does not
          include data where the identity has been removed (anonymous data).
        </li>
        <li>
          Information that you provide to us by completing forms on our sites
          such as requests for quotes or online applications for free trials of
          our products / Services. Such information typically includes:
          <ul class="text-base text-text-primary container-fluid">
            <li>
              – Contact information, such as your first name, last name, mailing
              address, phone number, and email address.
            </li>
            <li>
              – Financial information, such as bank account numbers, credit card
              numbers and crypto currency account information.
            </li>
            <li>
              – Biographic or demographic information, such as your date of
              birth, country of residence, and any other information you choose
              to provide about yourself.
            </li>
          </ul>
        </li>
        <li>
          Information that you provide to us when you purchase a product /
          service via our sites or other means such as by telephone or e-mail.
          Such information typically includes your first name, last name,
          personal and / or professional contact details, credit card details,
          billing address, as well as any contact or other information you
          choose to provide for us to undertake the Services;
        </li>
        <li>
          Any other information which you choose to provide to us in the
          following circumstances: when you complete surveys conducted by us or
          third parties on our behalf; when you attend conventions, trade shows,
          and expositions; when you participate in promotions, contests and
          giveaways; when you register for webcasts, events, request information
          or materials (e.g., whitepapers); and when you submit any questions,
          comments or complaints to us.
        </li>
      </ul>
    </div>
    <br />
  </div>
</Layout>

<style>
  ul li {
    line-height: 2.3rem;
  }
</style>
