<div class="css-1w4s86p">
  <div class="css-6sm2ml" data-aos="flip-left" data-aos-easing="linear">
    <div class="css-u0o91h">
      <div class="css-1oko8w7">
        <div class="css-cahn1g">
          <div data-bn-type="text" class="css-rlhgi">
            Build your crypto portfolio
          </div><div data-bn-type="text" class="css-mc306l">
            Start your first trade with these easy steps.
          </div>
        </div><div class="css-vurnku">
          <div class="css-1itzw64">
            <div class="css-1rs1ks6">
              <!-- @ts-ignore -->
              <div
                alt=""
                data-src="/images/kyc.svg"
                class="mica-lazy-img css-1epruf7"
                style='background-color: transparent; background-image: url("/images/kyc.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center center;'
              >
              </div>
            </div><div class="css-1ozxht6">
              <div data-bn-type="text" class="css-cdij5q">
                Verify your identity
              </div><div class="css-w90tn">
                <div class="css-1obdq75">
                  Complete the identity verification process to secure your
                  account and transactions.
                </div>
              </div>
            </div>
          </div><div class="css-1itzw64">
            <div class="css-1rs1ks6">
              <!-- @ts-ignore -->
              <div
                alt=""
                data-src="/images/user.svg"
                class="mica-lazy-img css-1epruf7"
                style='background-color: transparent; background-image: url("/images/user.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center center;'
              >
              </div>
            </div><div class="css-1ozxht6">
              <div data-bn-type="text" class="css-cdij5q">
                Fund your account
              </div><div class="css-w90tn">
                <div class="css-1obdq75">
                  Add funds to your crypto account to start trading crypto. You
                  can add funds with a variety of payment methods.
                </div>
              </div>
            </div>
          </div><div class="css-1itzw64">
            <div class="css-1rs1ks6">
              <!-- @ts-ignore -->
              <div
                alt=""
                data-src="/images/spot.svg"
                class="mica-lazy-img css-1epruf7"
                style='background-color: transparent; background-image: url("/images/spot.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center center;'
              >
              </div>
            </div><div class="css-1ozxht6">
              <div data-bn-type="text" class="css-cdij5q">
                Start trading
              </div><div class="css-w90tn">
                <div class="css-1obdq75">
                  You're good to go! Buy/sell crypto, set up recurring buys for
                  your investments, and discover what ForexPrime has to offer.
                </div>
              </div>
            </div>
          </div>
        </div><a
          data-bn-type="button"
          class="css-1fcepje"
          href="https://app.forexprime.space">Get Started</a
        >
      </div><div class="css-1uthklh">
        <img
          src="/images/portfolio-section.webp"
          data-src="/images/portfolio-section.webp"
          alt=""
          class="css-1dza52j"
        />
      </div>
    </div>
  </div>
</div>
