<div class="lg:py-[80px] md:py-[64px] py-[40px] bg-[rgb(11,_14,_17)]">
  <div
    class="md:px-[24px] px-[16px] max-w-[1248px] min-w-0 mx-auto"
    data-aos="flip-left"
    data-aos-easing="linear"
  >
    <div class="flex flex-col justify-center">
      <h2
        class="md:font-semibold md:text-[40px] md:leading-[48px] text-[24px] font-semibold leading-[32px] text-center text-[rgb(234,_236,_239)]"
      >
        Start earning today
      </h2>
      <div class="md:mt[40px] flex justify-center items-center mt-[24px]">
        <a
          href="https://app.forexprime.space/auth/signup"
          class="md:min-w-[200px] appearance-none select-none cursor-pointer overflow-hidden text-ellipsis whitespace-nowrap inline-flex items-center justify-center text-base font-medium text-center px-[24px] py-[12px] leading-[24px] break-keep text-[rgb(24,_26,_32)] rounded-[4px] min-h-[24px] border-none bg-[rgb(252,_213,_53)] h-[48px] min-w-full capitalize hover:bg-[rgb(252,_213,_53)] hover:opacity-[0.9] hover:bg-none"
          >Sign up now</a
        >
      </div>
    </div>
  </div>
</div>

<style is:global>
  a,
  a:active,
  a:visited {
    text-decoration: none;
  }
</style>
