<div class="css-1w4s86p">
  <div class="css-6sm2ml" data-aos="flip-left" data-aos-easing="linear">
    <div class="css-1nxcsfu">
      <div data-bn-type="text" class="css-rlhgi">
        Explore endless possibilities with ForexPrime
      </div>
    </div><div class="css-cjdttn">
      <div class="css-cvm939">
        <a class="css-1p57jra" href="https://app.forexprimelt.space"
          ><img
            src="/images/nft.webp"
            data-src="/images/nft.webp"
            alt=""
            class="css-tr0yd7"
          /><div class="css-wiuo8l">
            <div data-bn-type="text" class="css-k79eqx">
              Dive into the world of NFTs
            </div><div data-bn-type="text" class="css-1iuabf6">
              Open rare Mystery Boxes, explore IGOs, Fan Tokens, and more with
              ForexPrime NFT.
            </div>
          </div></a
        >
      </div><div class="css-cvm939">
        <a class="css-1458tyf" href="https://app.forexprimelt.space"
          ><img
            src="/images/binance-pay.webp"
            data-src="/images/binance-pay.webp"
            alt=""
            class="css-tr0yd7"
          /><div class="css-1fnikpb">
            <div data-bn-type="text" class="css-18sai24">
              Grow your business with ForexPrime Pay
            </div><div data-bn-type="text" class="css-1iuabf6">
              Reach more customers as you pay and get paid in crypto with our
              borderless payment technology on ForexPrime Pay &amp; ForexPrime
              Marketplace.
            </div>
          </div></a
        >
      </div><div class="css-cvm939">
        <a class="css-1p57jra" href="https://app.forexprimelt.space"
          ><img
            src="/images/binance-earn.webp"
            data-src="/images/binance-earn.webp"
            alt=""
            class="css-tr0yd7"
          /><div class="css-wiuo8l">
            <div data-bn-type="text" class="css-k79eqx">
              ForexPrime Earn
            </div><div data-bn-type="text" class="css-1iuabf6">
              Hold your crypto funds and start earning.
            </div>
          </div></a
        >
      </div><a
        data-bn-type="button"
        class="css-1xfc5qo"
        href="https://app.forexprimelt.space">Explore Now</a
      >
    </div>
  </div>
</div>
