<div class="css-1e4umbp">
  <div
    class="css-6sm2ml"
    data-aos="flip-right"
    data-aos-delay="100"
    data-aos-easing="linear"
  >
    <div class="css-1ig7ggv">
      <div class="css-1lpyr85">
        <h1 id="id-topCta-title" class="css-qmq7lv">
          <div class="css-1obdq75">
            Buy, trade, and hold digital assets on ForexPrime
          </div>
        </h1>
        <div class="css-j1fvrh">
          <a href="https://app.forexprime.space" class="css-10nf7hq"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              class="css-kxtk92"
            >
              <path
                d="M13.5 6.379V3h-3v3.379l-2.94-2.94-2.12 2.122L7.878 8H4v3h6.75V8h2.5v3H20V8h-3.879l2.44-2.44-2.122-2.12L13.5 6.378zM4 13.5V20h6.75v-6.5H4zM13.25 20H20v-6.5h-6.75V20z"
                fill="currentColor"></path>
            </svg>
            <div data-bn-type="text" class="css-1lonx59">
              <div class="css-vurnku">
                <div class="css-1obdq75">Trade Bitcoin for free</div>
              </div>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              class="css-199zucj"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
                fill="currentColor"></path>
            </svg>
          </a>
          <div class="css-byk2xc">
            <div class="css-unyjhn">
              <a
                data-bn-type="button"
                href="https://app.forexprime.space"
                class="css-gaas5w"
                ><img
                  src="https://bin.bnbstatic.com/static/images/home/register/human-icon.svg"
                  alt="signup"
                  class="css-16zoxrv"
                />
                <div data-bn-type="text" class="css-rjqmed">
                  Sign up with Email or Phone
                </div>
              </a>
              <!-- <div class="css-5nv61p">
                  <div class="css-109qfub"></div>
                  <div data-bn-type="text" class="css-16v162h">
                    or continue with
                  </div>
                  <div class="css-109qfub"></div>
                </div> -->
              <!-- <div class="css-1n7u5cf">
                  <a
                    href="https://accounts.binance.com/en/register"
                    class="css-vumeu6"
                    ><button data-bn-type="button" class="css-jof51k">
                      <div class="css-qfts7w">
                        <img
                          src="https://bin.bnbstatic.com/static/images/home/register/google-icon.png"
                          alt="google"
                          class="css-1bybaoo"
                        />
                      </div>
                      <div class="css-ario60">Google</div>
                    </button></a
                  ><a
                    href="https://accounts.binance.com/en/register"
                    class="css-1czojsd"
                    ><button data-bn-type="button" class="css-jof51k">
                      <div class="css-qfts7w">
                        <img
                          src="https://bin.bnbstatic.com/static/images/home/register/apple-icon.png"
                          alt="apple"
                          class="css-1bybaoo"
                        />
                      </div>
                      <div class="css-ario60">Apple</div>
                    </button></a
                  >
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="css-18ioegm">
        <div class="css-w24woy">
          <img
            src="/images/foreground-image-dark.png"
            data-src="/images/foreground-image-dark.png"
            alt="darkImageUrl"
            class="css-115de20"
          />
        </div>
      </div>
    </div>
    <div class="css-ezkr62">
      <div class="css-10htlqu">
        <div class="css-mvufc">
          <div data-bn-type="text" class="css-11nrmmq">$38 billion</div>
          <div data-bn-type="text" class="css-14wkcvu">
            24h trading volume on ForexPrime exchange
          </div>
        </div>
      </div>
      <div class="css-10htlqu">
        <div class="css-mvufc">
          <div data-bn-type="text" class="css-11nrmmq">350+</div>
          <div data-bn-type="text" class="css-14wkcvu">
            Cryptocurrencies listed
          </div>
        </div>
      </div>
      <div class="css-10htlqu">
        <div class="css-mvufc">
          <div data-bn-type="text" class="css-11nrmmq">120 million</div>
          <div data-bn-type="text" class="css-14wkcvu">Registered users</div>
        </div>
      </div>
      <div class="css-10htlqu">
        <div class="css-mvufc">
          <div data-bn-type="text" class="css-11nrmmq">&lt;0.10%</div>
          <div data-bn-type="text" class="css-14wkcvu">
            Lowest transaction fees
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
