<div class="css-1w4s86p">
  <div class="css-6sm2ml" data-aos="flip-right" data-aos-easing="linear">
    <div class="css-1y4yp88">
      <div class="css-1m16b1t">
        <div data-bn-type="text" class="css-rlhgi">
          Your trusted crypto exchange
        </div><div data-bn-type="text" class="css-mc306l">
          Here at ForexPrime, we are committed to user protection with strict
          protocols and industry-leading technical measures.
        </div>
      </div><a class="css-buqk49" href="https://app.forexprimelt.space"
        ><div data-bn-type="text" class="css-1c82c04">View more</div><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          class="css-1cizdsm"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.288 12l-3.89 3.89 1.768 1.767L15.823 12l-1.768-1.768-3.889-3.889-1.768 1.768 3.89 3.89z"
            fill="currentColor"></path></svg
        ></a
      >
    </div><div class="css-u0o91h">
      <div class="css-1oko8w7">
        <div class="css-vurnku">
          <div class="css-1ssu05y">
            <!-- @ts-ignore -->
            <div
              alt=""
              data-src="/images/secure-asset.svg"
              class="mica-lazy-img css-jvfr7z"
              style='background-color: transparent; background-image: url("/images/secure-asset.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center center;'
            >
            </div><div class="css-nldshf">
              <div data-bn-type="text" class="css-5ztzuu">
                Secure Asset Fund for Users (SAFU)
              </div><div class="css-w90tn">
                <div class="css-1obdq75">
                  ForexPrime stores 10% of all trading fees in a secure asset
                  fund to protect a share of user funds.
                </div>
              </div>
            </div>
          </div><div class="css-1ssu05y">
            <!-- @ts-ignore -->
            <div
              alt=""
              data-src="/images/access-control.svg"
              class="mica-lazy-img css-jvfr7z"
              style='background-color: transparent; background-image: url("/images/access-control.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center center;'
            >
            </div><div class="css-nldshf">
              <div data-bn-type="text" class="css-5ztzuu">
                Personalised Access Control
              </div><div class="css-w90tn">
                <div class="css-1obdq75">
                  Personalized access control allows you to restrict devices and
                  addresses that can access your account, for greater ease of
                  mind.
                </div>
              </div>
            </div>
          </div><div class="css-1ssu05y">
            <!-- @ts-ignore -->
            <div
              alt=""
              data-src="/images/unlock.svg"
              class="mica-lazy-img css-jvfr7z"
              style='background-color: transparent; background-image: url("/images/unlock.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center center;'
            >
            </div><div class="css-nldshf">
              <div data-bn-type="text" class="css-5ztzuu">
                Advanced Data Encryption
              </div><div class="css-w90tn">
                <div class="css-1obdq75">
                  Your transaction data is secured via end-to-end encryption,
                  ensuring that only you have access to your personal
                  information.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="css-1bi7xa9">
        <img
          src="/images/trusted-section.webp"
          data-src="/images/trusted-section.webp"
          alt=""
          class="css-1vnfg3u"
        />
      </div>
    </div><div class="css-4cffwv">
      <a
        data-bn-type="button"
        class="css-100ckw1"
        href="https://app.forexprimelt.space">Get Started</a
      >
    </div>
  </div>
</div>
